@use "functions/pxtorem";
@use "variables/colors";
@use "variables/typography";

body {
  background-color: colors.$color-neutral--main-bg;
  font-size: pxtorem.pxToRem(18);
  font-family: typography.$main-font;
  color: colors.$color-primary--base;
  color: colors.$color-primary--base;
}

.nft-card {
  width: pxtorem.pxToRem(328);
  height: pxtorem.pxToRem(544);
  background-color: colors.$color-neutral--card-bg;
  border-radius: pxtorem.pxToRem(16);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__photo {
    border-radius: pxtorem.pxToRem(12);
  }
}

.nft-card-content {
  width: pxtorem.pxToRem(278);

  &__title {
    color: #fff;
  }
}
