@use "functions/pxtorem";
@use "variables/colors";
@use "variables/typography";

body {
  background-color: colors.$color-neutral--main-bg;
  font-size: typography.$font-size-mobile;
  font-family: typography.$main-font;
  color: colors.$color-primary--base;
  color: colors.$color-primary--base;
}

@media screen and (min-width: 768px) {
  body {
    font-size: typography.$font-size-desktop;
  }
}
