@use "../functions/pxtorem";
@import url("/node_modules/@fontsource/outfit/300.css");
@import url("/node_modules/@fontsource/outfit/400.css");
@import url("/node_modules/@fontsource/outfit/600.css");

$font-size-desktop: pxtorem.pxToRem(16);
$font-size-mobile: pxtorem.pxToRem(18);
$main-font: "Outfit", sans-serif;
